{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" href="styles.css"> <!-- Você pode incluir o CSS aqui -->
</head>
<body>
    <div class="perfil-container">
        <div class="avatar">
            <!-- Substitua com a foto do usuário -->
            <img src="{% static artista.foto %}" alt="Avatar" />
        </div>

        <div class="informacoes">
            <div class="nome">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            </div>

            <div class="biografia">
                <div class="card">
                    <h2>Biografia</h2>
                    <p>{{ artista.usuario.perfil.bio}}</p>
                </div>
            </div>

            <!-- Seção de Obras de Arte -->
            <div class="obras">
                <h2>Minhas Obras de Arte</h2>
                <div class="obras-grid">
                    <div class="obra">
                        <img src="https://via.placeholder.com/200" alt="Obra 1" />
                    </div>
                    <div class="obra">
                        <img src="https://via.placeholder.com/200" alt="Obra 2" />
                    </div>
                    <div class="obra">
                        <img src="https://via.placeholder.com/200" alt="Obra 3" />
                    </div>
                    <div class="obra">
                        <img src="https://via.placeholder.com/200" alt="Obra 4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Sobre</h4>
                <p>O Empoderarte+ é uma plataforma dedicada a conectar mulheres e divulgar suas obras para o mundo.</p>
            </div>
            <div class="footer-section">
                <h4>Links úteis</h4>
                <ul>
                    <li><a href="{% url 'common:indexDeslogado' %}">Início</a></li>
                    <li><a href="{% url 'usuarios:cadastro_usuario' %}">Cadastro</a></li>
                    <li><a href="{% url 'usuarios:cadastro_usuario' %}">Login</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contato</h4>
                <p>Email: contato@empoderarte.com</p>
                <p>Telefone: (11) 99999-9999</p>
                <p>Endereço: Rua da Arte, 123 - Espírito Santo, ES</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ ano_atual }} Empoderarte+. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
