/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Contêiner do perfil */
.perfil-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Card do Avatar */
.avatar {
    width: 20%;
    min-width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Seção de informações */
.informacoes {
    width: 80%;
}

/* Nome do usuário */
.nome h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Card de biografia */
.biografia .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
}

/* Seção de Obras de Arte */
.obras {
    margin-top: 40px;
}

.obras h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.obras-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.obra {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.obra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #9d876f;
    color: #3b342c;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.footer-section ul {
    
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #3b342c;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #3b342c;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 0.9em;
}
