{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empoderarte+</title>
    <link rel="stylesheet" href="{% static 'css/styleindexdeslogado.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Empoderarte+">
        </div>
        <div class="pesquisa">
            <input type="text" placeholder="Buscar...">
            <button>🔍</button>
        </div>
        <div class="usuario">
            {% if request.user.perfil.foto %}
                <!-- Exibe a foto do usuário logado -->
                <img src="{{ request.user.perfil.foto.url }}" id="foto_user" alt="Foto de perfil">
            {% else %}
                <!-- Caso o usuário não tenha foto -->
                <img src="{% static 'img/default-avatar.png' %}" id="foto_user" alt="Foto de perfil">
            {% endif %}
        </div>
    </header>

    <main>
        <section>
            <h2>Artistas</h2>
            <div class="lista-artistas">
                {% for artista in artistas %}
                <div class="artista">
                    <a id="sub" href="{% url 'artistas:perfil_artista' artista.id %}">
                    <div class="foto">
                        <img src="{% static artista.foto %}" alt="{{ artista.usuario.user.first_name }}">
                    </div>
                    <p>{{ artista.usuario.user.first_name }}</p>
                </a>
                </div>
                {% endfor %}
            </div>
        </section>

        <section>
            <h2>Obras</h2>
            <div class="lista-obras">
                {% for obra in obras %}
                <div class="obra">
                    <div class="imagem">
                        <img src="{% static obra.imagem %}" alt="{{ obra.titulo }}" class="imgObras">
                    </div>
                    <p>{{ obra.titulo }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
